# Env files
.env
.env.local

# Dependencies
node_modules/

# Build
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# feat: `temurin21.zip` (Java JDK binary) is committ (#881)
*.zip
*.log
node_modules/
