# Env files
.env
.env.local

# Dependencies
node_modules/

# Build
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# feat: `playwright-report/` and `test-results/` dir (#884)
*.zip
*.log
node_modules/
